Arduino/Arduino-Development-Cookbook.pdf  
Jenkins/Jenkins%20Continuous%20Integration%20Cookbook,%202nd%20Edition.pdf
Python/Learning-Robotics-Using-Python.pdf  
Python/Mastering-Python.pdf  
Python/Django_Web_Development_with_Python.pdf  
Redis/Redis%20Essentials.pdf  
Docker/Learning-Docker.pdf  
AngularJS/Learning-Angular-2.pdf  
Kafka/Apache%20Kafka%20Cookbook.pdf  
Kafka/Learning%20Apache%20Kafka,%202nd%20Edition.pdf  
Github/Github-Essentials.pdf  
C%23/C%23-and-.NET-Core-1.0.pdf  
Unity/Mastering-Unity-2D-Game-Development.pdf  
MongoDB/MongoDB-Cookbook.pdf  
K8s/Getting-Started-with-Kubernetes.pdf  
K8s/Mastering-Kubernetes.pdf  
Terraform/Getting-Started-with-Terraform,2nd-Edition.pdf  
Java/spring/Spring.Cookbook.pdf  
Java/spring/Spring%20MVC%20Cookbook%20-%202016.pdf  
Java/WildFly%20New%20Features.pdf  
Java/Learning-Reactive-Programming-with-Java-8.pdf  
Raspberry/Raspberry-Pi-By-Example.pdf  
Zookeeper/Apache%20ZooKeeper%20Essentials.pdf  
Mesos/Apache-Mesos-Cookbook.pdf  
Linux/Learning%20Linux%20Shell%20Scripting.pdf  
Machine-Learning/Practical-Machine-Learning.pdf

