Arduino/Arduino-Development-Cookbook.pdf  
Python/Learning-Robotics-Using-Python.pdf  
Python/Mastering-Python.pdf  
Python/Django_Web_Development_with_Python.pdf  
Docker/Learning-Docker.pdf  
AngularJS/Learning-Angular-2.pdf  
Github/Github-Essentials.pdf  
Unity/Mastering-Unity-2D-Game-Development.pdf  
MongoDB/MongoDB-Cookbook.pdf  
K8s/Getting-Started-with-Kubernetes.pdf  
K8s/Mastering-Kubernetes.pdf  
Terraform/Getting-Started-with-Terraform,2nd-Edition.pdf  
Java/spring/Spring.Cookbook.pdf  
Java/Learning-Reactive-Programming-with-Java-8.pdf  
Raspberry/Raspberry-Pi-By-Example.pdf  
Mesos/Apache-Mesos-Cookbook.pdf  
Machine-Learning/Practical-Machine-Learning.pdf
Redis/'Redis Essentials.pdf'  
Kafka/'Apache Kafka Cookbook.pdf'  
Kafka/'Learning Apache Kafka, 02nd Edition.pdf'  
Java/spring/'Spring MVC Cookbook - 2016.pdf'  
Zookeeper/'Apache ZooKeeper Essentials.pdf'  
'Jenkins/Jenkins Continuous Integration Cookbook%2C 2nd Edition.pdf'
Linux/Learning\ Linux\ Shell\ Scripting.pdf
C#/C#-and-.NET-Core-1.0.pdf
Java/WildFly\ New\ Features.pdf

